body {
  font-family: Arial, Helvetica, sans-serif;
}

.main {
  display: flex;
  justify-content: left;
  /* border: 2px solid royalblue; */
}

.menu {
  font-family: Arial, Helvetica, sans-serif;
}

.game {
  display: grid;
  grid-template-columns: auto auto auto;
  border: 3px solid black;
  width: 500px;
}

.diagonal {
  display: grid;
  grid-template-columns: auto auto auto;
  border: 2px solid black;
}

.kotak {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 176, 143, .3);
  border: 1px solid rgb(77, 77, 124);
  font-size: 25px;
  color:azure;
  cursor: context-menu;
  min-height: 40px; 
  
  /* no selection text ( block text ) */
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
  supported by Chrome, Edge, Opera and Firefox */
}

.kotakKlik {
  background-color: rgba(255, 176, 143, .9);
}

.diagonalKlik {
  background-color: rgba(255, 176, 143, .5);
}


